@use '../../../styles' as var;

footer {
  background-color: var.$primary-color;
  padding: 4rem 10rem 2rem;
  text-align: center;
  color: #ffffff;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  img {
    cursor: pointer;
    margin: 1rem auto;
    scale: 1.1;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    li {
      cursor: pointer;
      a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 350;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.12rem;
        cursor: pointer;
      }
      a:hover {
        color: var.$quaternary-color;
        transition: ease-in-out 0.3s;
      }
    }
  }
}
#social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
     svg path {
      cursor: pointer;
      fill: white; 
     transition: fill 0.3s ease-in-out;
    }

    svg:hover path {
      fill: var.$quaternary-color; 
    }
  
}

@media screen and (max-width: 768px) {
  footer {
    padding: 3rem 1.5rem;
    text-align: center;
    color: #ffffff;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  #footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    img {
      cursor: pointer;
      scale: 1;
      margin-bottom: 1rem;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2.5rem;
      margin-bottom: 1.5rem;
      li {
        cursor: pointer;
        a {
          text-decoration: none;
          color: #ffffff;
          font-weight: 350;
          font-size: 0.8rem;
          text-transform: uppercase;
          letter-spacing: 0.12rem;
          cursor: pointer;
        }
      }
    }
  }
  #social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

}
