@use '../../../styles' as var;
#features-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin: 0 0 0 8rem;
}

.features-card {
animation: swipe-in 1s ease-in-out;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 7rem;
}
.card-text{
    width: 45%;
}
.features-card button{
@include var.button(var.$tertiary-color, #ffffff, 0.7rem 2rem, 1.1rem);
}

@keyframes swipe-in {
  0% {
    transform: translateX(90%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1
  }
}




@media screen and (max-width: 768px) {
    #features-cards-container {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    .features-card {
        flex-direction: column;
        gap: 2rem;
    }
    .features-card img{
        width:70%;
    }
    .card-text{
        width: 90%;
        text-align: center;
        margin: 0 auto 1.5rem;
    }
    .features-card button{
        @include var.button(var.$tertiary-color, #ffffff, 0.6rem 2rem, 0.9rem);
       width: 100%;
    }
 
}