<div id="features-cards-container">
  @for (card of cards(); track card.id){
    @if (card.id == cardNumber()){
          <div  class="features-card" [animate.enter]="animationSwipe()"  [id]="card.id">
    <img [src]="card.image" alt="Bookmark features image" />
    <div class="card-text">    
    <app-text-content
        [textContentSmallTitle]="card.title"
        [textContentDescription]="
          card.description
        "
      >
      </app-text-content>
      <button>{{card.buttonText}}</button>
      </div>
    </div> }
  }
</div>
