@use '../../../styles' as var;


ul {
    list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 2.25rem;
        align-items: center;
        justify-items: flex-start;
        padding-inline: 0;
    a {
        text-decoration: none;
        color: #9194A1;
        font-weight: 400;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: -0.1px;
        cursor: pointer;
    }
    button{
        background-color: var.$quaternary-color;
        border-radius: 0.2rem;
        border: none;
        padding: 0.8rem 1.9rem;
        box-shadow: 0px 4px 4px rgba(108, 108, 108, 0.2);
        a{
            font-family: 'Rubik', sans-serif;
            color: #ffffff;
            
        }
    }
}
 #hamburger {
    display: none;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 4.5rem 1.4rem 3.5rem;
    box-shadow: 0px 4px 4px rgba(108, 108, 108, 0.2);
}

img {
    cursor: pointer;
    scale :0.95;
}


@media screen and (max-width: 768px) {
    header {
        padding: 1.2rem 0.3rem 1.2rem 0.5rem;
        position : sticky;
    }
    nav {
        display: none;
    }
    img {
        scale: 0.8;
    }
    #hamburger {
    cursor: pointer;
    display: inline-block;
     width: 21px;
    height: 18px;
    }
    #mobile-menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #1c213a;
        opacity: 0.95;
        padding : 1.2rem 0.8rem 1.2rem 0.8rem;
        gap: 1.5rem;
        z-index: 1;
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        margin-top: 3rem;
        border-top: var.$secondary-color solid 1px;
        width: 100%;
        
        li {
            width: 100%;
            margin: auto;
            text-align: center;
            border-bottom: var.$secondary-color solid 1px; 
            padding: 1.2rem 0;
        }
        a{
            color: #ffffff;
            font-weight: 200;
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            cursor: pointer;
        }
    }
  
    button{
        background-color: transparent;
        border: none;
       box-shadow: none;
       padding: 0;
       margin: 0;
   
    }


    #mobile-menu-control {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        img {
            cursor: pointer;
            scale: 1;
        }
    }
    #mobile-menu-footer {
        position: absolute;
        bottom: 1rem;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
        align-items: center;
        img {
            cursor: pointer;
            scale: 1;
        }
    }
}
}