<header>
    <img src="Images/logo-bookmark.svg" alt="Bookmark logo">
    <nav>
        <ul>
            <li><a href="#features">Features</a></li>
            <li><a href="#download">Pricing</a></li>
            <li><a href="#newsletter">Contact</a></li>
            <button><li>Login</li></button>
        </ul>
    </nav>
    <img id="hamburger" (click)="mobileMenu.open()" src="Images/icon-hamburger.svg">
</header>

@if (mobileMenu.isOpen()) {
<div id="mobile-menu" animate.enter="in-animation" animate.leave="out-animation">
<div id="mobile-menu-control">
   <img src="Images/logo-bookmark-white.svg" alt="Bookmark logo">
   <img src="Images/icon-close.svg" (click)="mobileMenu.close()" >
</div>   
<ul>
    <li><a href="#features" (click)="mobileMenu.closeOnNavigate()"> Features</a></li>
    <li><a href="#download" (click)="mobileMenu.closeOnNavigate()">Pricing</a></li>
    <li><a href="#newsletter" (click)="mobileMenu.closeOnNavigate()">Contact</a></li>
    <li><a>Login</a></li>
</ul>
<div id="mobile-menu-footer">
    <img src="Images/icon-facebook.svg">
    <img src="Images/icon-twitter.svg">
</div>
</div>
}
