@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
ul {
    list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 2.25rem;
        align-items: center;
        justify-items: flex-start;
        padding-inline: 0;
    a {
        text-decoration: none;
        color: #9194A1;
        font-weight: 400;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: -0.1px;
        cursor: pointer;
    }
    button{
        background-color: #FA5757;
        border-radius: 0.2rem;
        border: none;
        padding: 0.8rem 1.9rem;
        box-shadow: 0px 4px 4px rgba(108, 108, 108, 0.2);
        a{
            font-family: 'Rubik', sans-serif;
            color: #ffffff;
            
        }
    }
}
 #hamburger {
    display: none;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 4.5rem 1.4rem 3.5rem;
    box-shadow: 0px 4px 4px rgba(108, 108, 108, 0.2);
}

img {
    cursor: pointer;
    scale :0.95;
}

@media screen and (max-width: 768px) {
    header {
        padding: 1.2rem 0.3rem 1.2rem 0.5rem;
    }
    nav {
        display: none;
    }
    img {
        scale: 0.8;
    }
    #hamburger {
    cursor: pointer;
    display: inline-block;
     width: 21px;
    height: 18px;
    }
}