<header>
    <img src="Images/logo-bookmark.svg">
    <nav>
        <ul>
            <li><a href="#features">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact</a></li>
            <button><li><a>Login</a></li></button>
        </ul>
    </nav>
    <img id="hamburger" (click)="toggleMobileMenu()" src="Images/icon-hamburger.svg">
</header>

@if (isOpen()) {
    <div id="mobile-menu" >
<div id="mobile-menu-control">
   <img src="Images/logo-bookmark-white.svg" (click)="toggleMobileMenu()">
   <img src="Images/icon-close.svg" (click)="toggleMobileMenu()">
</div>   
<ul>
    <li><a href="#features">Features</a></li>
    <li><a href="#">Pricing</a></li>
    <li><a href="#">Contact</a></li>
    <li><a>Login</a></li>
</ul>
<div id="mobile-menu-footer">
    <img src="Images/icon-facebook.svg">
    <img src="Images/icon-twitter.svg">
</div>
</div>
}
