@use '../../../styles' as var;
#newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin-top: 9rem;
    width: 100%;
    background-color: var.$tertiary-color;
    padding: 2rem 0 3rem 0rem;
#newsletter-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 1rem auto;
    }
 h3{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
 }
 h2{
    font-size: 1.8rem;
    font-weight: 500;
    color: #ffffff;
 }
 #newsletter-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
   
    font-size: 1.8rem;
    input{
        border-radius: 0.2rem;
        border: none;
        padding: 1.1rem 8rem 1.1rem 2rem;
        box-shadow: 0px 4px 4px rgba(108, 108, 108, 0.2);
        width: 100%;
    }
    input::placeholder{
        font-size: 1rem;
        font-weight: 400;
        color: var.$secondary-color;
    }
    button{
        @include var.button(var.$quaternary-color, #ffffff, 1rem 2.5rem,1rem);
       
    } 
    img {
        display: none;
        position:absolute;
        transform: translate(600%, -80%);
    }
    #newsletter-email.error{
        border: 3px solid var.$quaternary-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.2rem;
        transition: all ease-in-out 0.3s;
    }
    #newsletter-email.error::after{
        content : 'Whoops, make sure it\'s an email';
       padding: 0.5rem 0 ;
        display: block;
        width: 100%;
        background-color: var.$quaternary-color;
        color: #ffffff;
        font-size: 0.8rem;
        font-weight: 400;
        text-align: left;
      
    }
    #newsletter-email.error img {
        display: block;
    }
    input:focus{
        outline: none;
    }
 }
}

@media  screen and (max-width: 768px) {
    #newsletter{
        margin-top: 6rem;
       h3{
        font-size: 0.8rem;
       }
       h2{
        font-size: 1.2rem;
       }
        #newsletter-form{
            width: 90%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 1.5rem;
         input{
             width: 100%;
             padding: 1rem 15rem 1rem 1rem;
         }
         button{
             width: 100%;
             padding: 0.8rem 0rem;
             
         }
           img {
      
        transform: translate(800%, -80%);
    }
    }
   } 
}