@use '../../../styles' as var;

#download-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
  
}

.download-card {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1.5rem 3rem;
    margin: 1rem;
    text-align: center;
    box-shadow: 1px 2px 4px 2px rgba(190, 190, 190, 0.2);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
   width: 90%;
}
.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    h3{
        font-size: 1.6rem;
        font-weight: 500;
        color: var.$primary-color;
    }
    p{
        font-size: 1rem;
        font-weight: 400;
        color: var.$secondary-color;
    }
}
.card-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.download-card button{
@include var.button(var.$tertiary-color, #ffffff, 1rem 3rem, 1rem);
width: 100%;
}

@media  screen and (max-width: 768px) {

        #download-cards-container {
        flex-direction: column;
        width: 80%;
    }
    .download-card{
        width: 90%;
        height: 70%;
        margin: 1rem auto;
        padding: 1rem 1.5rem;
        gap: 2rem;
    }
    .card-text{
        h3{
            font-size: 1.4rem;
        }
        p{
            font-size: 0.85rem;
        }
    }
    .card-button{
        gap: 1rem;
    }
    .download-card button{
        @include var.button(var.$tertiary-color, #ffffff, 0.8rem 2.5rem, 0.85rem);
    }
}