@use '../../../styles' as var;
#faq{
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#faq-text{
    text-align: center;
    width: 45%;

}
#faq-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    width: 35%;
    font-size: 1.2rem;
}
summary {
  list-style: none;
  cursor: pointer;
  position: relative;
  padding-inline: 0;
  margin-bottom: 0;
}

details {
  cursor: pointer;
    width: 100%;
    padding: 1rem 0;
border-bottom: solid 0.5px var.$secondary-color;
 &[open] > summary {
    margin-bottom: 1rem;
  }

  &[open] > *:not(summary) {
    margin-top: 0; 
  }
}
::details-content {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45;
  color: var.$secondary-color;
}
summary::-webkit-details-marker {
  display: none;
}

summary::after{
      content: url('/Images/icon-arrow.svg');
  position: absolute;
  right: 30px;
  transform: translateX(100%);
  
}

details[open] summary::after  {
  transform: translateX(100%) rotate(180deg);
  
}
 button {
    @include var.button(var.$tertiary-color, #ffffff, 0.8rem 1.6rem, 1rem);
 }


@media screen and (max-width: 768px) {
    #faq{
        margin-top: 5rem;
      gap: 1.5rem;
    }
    #faq-text{
        width:85%;
    }
    #faq-container{
        width: 89%;
        font-size: 0.88rem; ;
    }
    details {
        cursor: pointer;
          width: 100%;
          padding: 0.7rem 0;
      border-bottom: solid 1px var.$secondary-color;
      height: min-content;
       &[open] > summary {
    margin-bottom: 1rem;
  }

  &[open] > *:not(summary) {
    margin-top: 0; 
  }}
      ::details-content {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.45;
        color: var.$secondary-color;
      }
      button {
        @include var.button(var.$tertiary-color, #ffffff, 0.8rem 1.4rem, 0.9rem);
     }
}